body{
    margin: 0;
    padding: 0;
    background: #fff;
}
.qmkpowmzkgquiuz{
    width: 450px;
    display: block;
    margin: 0 auto;
}
.ojbhsmtbhetlxbe img{
    width: 80px;
}

.nxosljnmwozwiwv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.crobxptgeiobvds{
    margin-top: 20px;
}
.sittgfiueykwosi{
    font-size: 30px;
}

.bxbzspvcvcoillr{
    margin-left: 230px;
    font-weight: bolder;
}

.tambkeygglneujs{
    margin-left: 120px;
}

.gyfpyxmhmcpllye{
    width: 650px;
    display: block;
    margin:60px auto;
}

.dgnownlamlcnsjj{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dgnownlamlcnsjj div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90a4ae;
    height: 40px;
    text-align: center;
}
#sortable li{
    background-color: #fff;
}
.ugpvlpxayggfdln{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 10%;
}

.sekbvoujtoswvbd{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 35%;
}


.prycpqedgjhoqdb{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 35%;
    font-weight: bolder;
    font-size: 15px;
}


.hyxjejbqjtfkplr{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
}

.cmwnyoemtinmmaf{
    font-weight: bolder;
    font-size: 15px;

}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }


.nnspczfzpudilqu div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    text-align: center;
}

.nnspczfzpudilqu{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qzehdwqopehnfwx{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 10%;
}

.jblkjcydvikjiqv{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 35%;
    border-top: 1px solid black;
}

.zhjgpsesqfndlls{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 35%;
    border-top: 1px solid black;
}

.nuertaryteqckdc{
    border-bottom: 1px solid black;
    width: 20%;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

span {
    content: "\00B7";
}

.xputjotzgs{
    display: flex;
    flex-direction: column;
}

.txnpehwobm{
    height: 0px !important;
}

.xcrrnlscqs{
    height: 25px !important;
}

.trbmtswzcp{
    height: 0px !important;
}

.xputjotzgs:hover{
    cursor: pointer;
}

.fwiqxrwsvl{
    height: 30px !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 64px;
    letter-spacing: 0.1em;
    color: #d92027;
    cursor: pointer;
    background-color: #90a4ae;

}
.fwiqxrwsvl:hover{
    color: #ff0000;
}
.zimpvyvzds{
    height: 30px !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 63px;
    letter-spacing: 0.1em;
    color: blue;
    cursor: pointer;
    background-color: #90a4ae;
}

.zimpvyvzds:hover{
    color: #1089ff;
}
.wruzmkqwvu{
    width: 100%;
}

.cxvlaxyzlh{
    margin-right: -30px;
    height: 15px;
    cursor: pointer;
    display: none;
}


.aotlbvatmz{
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    margin: 0 0px 0 5px;
    align-items: center !important;
    
}

.jylzvkgxxk{
    width: 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px; 
    height: 50px !important;
    cursor: pointer;
}

                           
.mducnkuoek{
    width: 100%;
   
}

.xfunloppbp{
    border: 1px solid black;
}

.scptwsygwd{
    display: block !important;
}

.miyhwhxnaj{
    position: relative;
    margin-left: -153px;
    margin-top: 260px;
    display: none;
}

.ofltbmzdki{
    display: block;
}

.miyhwhxnaj {
    height: 205px;
    overflow-y:scroll;
}

.miyhwhxnaj li{
    width: 143px;
    height: 40px;
}

.miyhwhxnaj li input{
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: none;
    background: #fff;
    color: #000;
    text-align: left;
    padding-left: 27px;
}
.miyhwhxnaj li input:hover{
    background:#90a4ae ;
}
.miyhwhxnaj li input:focus{
    outline: none;
}
::-webkit-scrollbar-thumb {
    background:black; 
    border-radius: 10px;
}

::-webkit-scrollbar {
    background: #fff;
    width: 10px;
}
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:#90a4ae; 
    border-radius: 10px;
    color: red;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background:#90a4ae ;
}

.rvtrxcxkcz{
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    margin: 0 0px 0 5px;
    align-items: center !important;
}

.leodwiuutx{
    width: 100%;
}

.rpyeyrjzqb{
    width: 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 50px !important;
    cursor: pointer;
}

.kxbqmvmapu{
    margin-right: -30px;
    height: 15px;
    cursor: pointer;
    display: none;
}

.denjnyqajo{
   display: block !important;
}

.dvzowjifyb {
    height: 215px;
    overflow-y: scroll;
}

.dvzowjifyb{
    position: relative;
    margin-left: -153px;
    margin-top: 260px;
    display: none;
}

.dvzowjifyb li input {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: none;
    background: #fff;
    color: #000;
    text-align: left;
    padding-left: 27px;
}

.dvzowjifyb li {
    width: 143px;
    height: 40px;
}

.dvzowjifyb li input:hover{
    background:#90a4ae ;
}
.dvzowjifyb li input:focus{
    outline: none;
}


.ajgvwbxcsh{
    display: none !important;
}


.fubospzpgh{
  width: 300px;
  display: block;
  margin: 0 auto;
}

.bsjavjekfp{
  width: 100%;
  padding: 13px;
  margin-top: -10px;
  background: #21bf73;
  border: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.1em;
  border-radius: 5px;
}


.bsjavjekfp:focus{
outline: none;
}

.dvbakbohhy{
    display: none !important;
    height: 30px !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 63px;
    letter-spacing: 0.1em;
    color: blue;
    cursor: pointer;
    background-color: #90a4ae;
}

.dvbakbohhy:hover{
    color: #1089ff;
}
.dgsrbipams{
    display: block !important;
}
.uuuhuzxnpd{
    display: none !important;
}

.djttbbjuyc{
    margin-top: 6px;
    margin-left: -18px;
    position: absolute;
}

.lpmczgnbnr{
    width: 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 50px !important;
    cursor: pointer;
}

.tedryteh{
    border: 1px solid black;
}

.ontabbcmca{
    height: 30px !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 63px;
    letter-spacing: 0.1em;
    color: blue;
    cursor: pointer;
    background-color: #90a4ae;
}

.line{
    width: 85%;
    display: block;
    margin: 70px auto;
    height: 3px;
    background: black;
}

.email{
    text-align: center;
    font-size: 18px;
    display: block;
    margin-top: -30px;
    margin-bottom: 50px;
}